@import url("https://v1.fontapi.ir/css/SFProDisplay");

body {
    background-color: #161616;
    overflow-y: scroll;
}

.text-main {
    margin-top: 1px;
    margin-bottom: 15px;
}

.text {
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    font-size: 10em;
    font-weight: 400;

    opacity: 0; /* Start with 0 opacity ??? */
    animation: fadeIn 1s ease-in 1s forwards;

}
@keyframes fadeIn {
    from {
      opacity: 0; /* Start with 0 opacity */
    }
    to {
      opacity: 1; /* End with full opacity 9999 */
    }
  }
.a {
    color: #fff808;
}

.a p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.b {
    color: #fffb7e;
}

.c {
    color: #fffecc;
}

.myButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 44%;
    top: 88%;
    
    background-color: transparent;
    border-radius: 28px;
    border: 3px solid #fffecc ;
    cursor: pointer;
    color: #fffecc;
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 500;
    padding: 16px 31px;
    text-decoration: none;
    box-shadow: 1px 1px 6px 1px #fffecc ;
    opacity: 0; /* Start with 0 opacity */
    animation: fadeInbtn 2s ease-in 2s forwards;
}
@keyframes fadeInbtn {
    from {
      opacity: 0; /* Start with 0 opacity */
    }
    to {
      opacity: 1; /* End with full opacity */
    }
  }
.myButton:hover {
    background-color:#fffecc ;
    color: #161616;
    box-shadow: 1px 1px 6px 1px rgb(168,160,150);
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}




