@import url("https://v1.fontapi.ir/css/SFProDisplay");

body {
    background-color: #161616;
}

.text-main {
    margin-top: 1px;
    margin-bottom: 20px;
}

.text {
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    font-size: 10em;
    font-weight: 400;

}

.a {
    color: #fff808;
}

.a p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.b {
    color: #fffb7e;
}

.c {
    color: #fffecc;
}

.myButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 44%;
    top: 85%;
    
    background-color: transparent;
    border-radius: 28px;
    border: 3px solid #fffecc ;
    cursor: pointer;
    color: #fffecc;
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 500;
    padding: 16px 31px;
    text-decoration: none;
    box-shadow: 1px 1px 6px 1px #fffecc ;
}

.myButton:hover {
    background-color:#fffecc ;
    color: #161616;
    box-shadow: 1px 1px 6px 1px rgb(168,160,150);
}




