@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:wght@100&display=swap');

body{
    background-color: black;
}
.a {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    font-size: 100px;
    color: yellow;

}

.a p {
    margin: 0;
    padding: 0;
    line-height: 1;


}

.o {
    margin-top: 190px;
   
}
