.title {
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 12px;
  font-size: 1.8em;
  font-weight: 500;
  color: #fffb7e;
  padding: 20px;
  
  margin-left: 1em;
}
.t2 {
  font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 12px;
  font-size: 1em;
  font-weight: 500;
  color: whitesmoke;
  padding: 3px;
  margin-left: 0em;
}
.Button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 74%;
    top: 60%;
    
    background-color: transparent;
    border-radius: 28px;
    border: 3px solid #fffecc ;
    cursor: pointer;
    color: #fffecc;
    font-family: 'SF Pro Display', Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 1px 1px 6px 1px #fffecc ;
    opacity: 0; /* Start with 0 opacity */
    animation: fadeInbtn 0.5s ease-in 0.5s forwards;
}
.Button1:hover {
    background-color:#fffecc ;
    color: #161616;
    box-shadow: 1px 1px 6px 1px rgb(168,160,150);
    transition: background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}
.icons{
    display: flex;
    justify-items: flex-end;
    align-items: center;
    position: relative;
    left: 77%;
    top: 60%;
    font-size: 5em;
    cursor: pointer;
}
